/* -------  General Styles ------- */


body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */
.page-images {
  height: 40%;
  width: 100%;
}

#about img, #ideas img, #host img {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
}

#about, .about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
  padding: 5%;
}

#ideas, #host, #host div, .ideas-container, .page-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}




/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 4em;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  flex: 1;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}


form label, form p {
  font-weight: bold;
}


form input, form select {
  margin-bottom: 20px;
  width: 50%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 600px) {
  .about-container {
    flex-direction: row;
    padding: 0 10%;
    width: 100%;
  }

  .about-container div {
    margin: 5px;
  }

  .ideas-container {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .ideas-img {
    height: 50%;
    width: 49%;
  }

  .ideas-img img {
    width: 50%;
  }

  form input {
    width: 100%;
  }

  form select {
    width: 100%;
  }

  form div {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  header, header nav, header nav ul, header nav ul li  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header a {
    margin-right: 20%;
  }

  #host {
    flex-direction: row;
  }

  #host img {
    height: 50%;
    width: 50%;
    padding-bottom: 1%;
  }

  

  
}

@media all and (min-width: 900px) {
  .logo {
    margin-right: 40%;
  }

  form {
    flex-direction: row;
    justify-content: space-between;
  }
  
  form div {
    margin-right: 2%;
  }

  form select {
    width: 100%;
  }

  
  
}



@media all and (min-width: 480px) {
  form {
    width: 74vw;
  }
}

@media all and (max-width: 360px) {
  .logo {
    font-size: 42px;
  }
}